/* variables */
:root {
	--background-color: #e0ddd1;
	--Primary-color: rgb(138, 106, 62);
	--second-color: #484a4b;
	--Third-color: #c87e6b;
	--padding-100: 100px;
}
/* 
  - Start Global Rules
 */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
	font-family: "Josefin Slab", serif;
	font-family: "Montserrat", sans-serif;
	font-family: "Montserrat Alternates", sans-serif;
	font-family: "Playfair Display", sans-serif;
}
body {
	background-image: url(../images/px-body.webp);
	background-color: var(--background-color);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
}
/* 
	Start Components
*/
.title {
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 100px;
}
.title h2 {
	color: var(--second-color);
	font-size: 3.75rem;
}
.title p {
	font-family: "Montserrat Alternates";
	font-weight: 600;
	color: var(--Primary-color);
	font-size: 25px;
	margin-top: 10px;
}
/* 
	Start Media Query
*/
@media (max-width: 767px) {
	.title h2 {
		font-size: 1.75rem;
	}
	.title p {
		font-size: 15px;
	}
}
@media (max-width: 400px) {
	.title h2 {
		font-size: 1.45rem;
	}
	.title p {
		font-size: 12px;
	}
}
/* 
	End Media Query
*/
.button-section {
	display: inline-block;
	margin-top: 0.9375rem;
	background-color: var(--second-color);
	color: #fff;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 600;
	font-size: 0.625rem;
	letter-spacing: 0.0625rem;
	padding: 0.5rem 0.9375rem;
	border-radius: 1.25rem;
	width: fit-content;
}
/*
	End Components
*/
.container {
	padding: 0 0.9375rem;
	margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1135px;
	}
}
/* 
  - End Global Rules
 */

/* ===============[ Header ]=============== */
header {
	background-color: var(--Third-color);
	padding: 10px 0;
	height: 73.8px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #e7e4db;
}
header input[type="checkbox"] {
	display: none;
}
header .bar {
	display: none;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
header .nav {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
}

header .nav li {
	display: inline-block;
	margin: 0 5px;
}
header .nav li a {
	display: inline-block;
	color: #e7e4db;
	padding: 20px;
	font-size: 12px;
	letter-spacing: 1.5008px;
}
/* 
    Start Animation
 */
header .nav li a,
header .header-right li {
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
header .nav li:hover a,
header .header-right li:hover {
	color: var(--second-color);
	background-color: #e7e4db;
	scale: 1.1;
	translate: 0 -3px;
}
/* 
    End Animation
 */
header .nav li .button {
	border: 0.125rem solid #e7e4db;
	border-radius: 20px;
	padding: 10px 20px;
}
header .header-right li {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}
header .media.nav {
	display: none;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
/* 
	Start Media Query
 */
@media (max-width: 61.9375rem) {
	header .nav {
		display: none;
	}
	header .bar {
		display: flex;
		margin-left: auto;
		margin-right: 10px;
		padding: 10px;
		cursor: pointer;
	}
	header .media.nav {
		display: flex;
		position: absolute;
		top: 4.625rem;
		left: 0;
		background: var(--second-color);
		width: 100%;
		min-height: calc(100vh - 73.8px);
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		transform: translateX(-100%);
		z-index: 999;
	}
	header .nav li a {
		display: inline-block;
		color: #e7e4db;
		padding: 20px;
		font-size: 20.8px;
		letter-spacing: 1.5008px;
		margin: 1.25rem;
	}
	header input:checked ~ .media.nav {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
	}
	header input:checked + .bar {
		color: var(--second-color);
		background-color: #e7e4db;
		scale: 1.1;
		translate: 0 -3px;
	}
}
/* 
	End Media Query
*/

/* ===============[ Main ]=============== */
main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
	min-height: calc(100vh - 73.8px);
}
main .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: 1;
}
main .text .flower1,
main .text .flower2 {
	position: absolute;
	object-fit: contain;
}
main .text .flower1 {
	top: 0;
	right: 0;
	padding: 4rem 3rem 0 0;
}
main .text .flower2 {
	left: 0;
	bottom: -7rem;
	width: 7rem;
}
main .text .content {
	width: 388.8px;
	padding: 3.125rem 0;
	max-width: 100%;
}
main .text h2 {
	color: var(--second-color);
	font-size: 60px;
	line-height: 1;
}
main .text h4 {
	color: var(--Primary-color);
	font-size: 25.6px;
	margin: 25px 0;
	font-family: "Montserrat Alternates", sans-serif;
}
main .text p {
	color: var(--Primary-color);
	font-family: "Josefin Slab", serif;
	font-size: 18.4px;
	text-align: justify;
	word-spacing: 5.2px;
}
main .text a {
	font-family: "Montserrat Alternates", sans-serif;
	display: inline-block;
	color: var(--second-color);
	margin: 50px 15px auto;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 13px;
	border: 0.125rem solid rgba(0, 0, 0, 0);
	padding: 10px 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}
main .text a:first-of-type {
	background-color: hsl(200deg 2% 29% / 70%);
	color: #fff;
	border-color: hsl(200deg 2% 29% / 70%);
	padding: 10px 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}
main .image {
	background-image: url(../images/px-Main.webp);
	background-size: cover;
}
main .image img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
/* 
	Start Animation
 */
main .text a {
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
main .text a:first-of-type:hover {
	background-color: revert;
	color: var(--second-color);
}
main .text a:last-of-type:hover {
	background-color: hsl(200deg 2% 29% / 70%);
	border-color: hsl(200deg 2% 29% / 70%);
	color: #fff;
}
/* 
	Start Animation
*/
/* 
	Start Media Query
*/
@media (max-width: 1200px) {
	main .text .flower2 {
		bottom: -5.5rem;
		width: 5.5rem;
	}
}
@media (max-width: 991px) {
	main .text .flower1 {
		width: 6rem;
		padding: 2rem 2rem 0 0;
	}
	main .text .flower2 {
		bottom: -4.5rem;
		width: 4.5rem;
	}
	main .text h2 {
		font-size: 53.6px;
	}
	main .text h4 {
		font-size: 22.8px;
	}
	main .text p {
		font-size: 16.8px;
		line-height: 1.3;
		padding: 0 15px;
	}
}
@media (max-width: 767px) {
	main {
		grid-template-columns: 1fr;
	}
	main .image {
		display: none;
	}
}
@media (max-width: 576px) {
	main .text .flower1 {
		width: 5.4rem;
		padding: 2rem 2rem 0 0;
	}
	main .text .content {
		width: 100%;
	}
	main .text h2 {
		font-size: 44.2px;
	}
	main .text h4 {
		font-size: 19.6px;
	}
}
/* 
	End Media Query
*/

/* ===============[ Stats ]=============== */
.stats {
	background-color: #734f26;
	mix-blend-mode: multiply;
}
.stats .container {
	display: flex;
	flex-wrap: wrap;
}
.stats .container .box {
	color: #fff;
	text-align: center;
	flex-basis: 25%;
	padding: 5.375rem 2.5rem;
}
.stats .container .box h4 {
	font-size: 45px;
}
.stats .container .box span {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 600;
	text-transform: capitalize;
	display: block;
	margin-top: 5px;
}
/* 
	Start Media Query
*/
@media (max-width: 61.9375rem) {
	.stats .container .box {
		flex-basis: 50%;
	}
}
@media (max-width: 47.9375rem) {
	.stats .container .box {
		flex-basis: 100%;
	}
}
/* 
	End Media Query
*/

/* ===============[ Products ]=============== */
.products {
	padding: var(--padding-100) 0;
}
.products .title h2 {
	position: relative;
}
.products .title h2 .flower1,
.products .title h2 .flower2 {
	position: absolute;
	object-fit: contain;
}
.products .title h2 .flower1 {
	left: 0;
}
.products .title h2 .flower2 {
	right: 0;
}
.products .content-products {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
	gap: 4%;
}
.products .card {
	box-shadow: 0 5px 19px #00000040;
}
.products .card img {
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.products .card .info {
	background-color: var(--background-color);
	position: relative;
	padding: 1.875rem 1.95rem 0.9375rem 2.4rem;
}
.products .card .info i {
	display: flex;
	justify-content: flex-end;
	color: #e3907b;
	font-size: 1.25rem;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.9375rem 0.625rem;
}
.products .card .info h2 {
	color: var(--second-color);
	font-size: 1.7625rem;
}
.products .card .info p {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 600;
	color: var(--Primary-color);
	font-size: 0.75rem;
	line-height: 1.3;
	margin-top: 0.3125rem;
}
.products .angle {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5%;
	color: #fff;
	margin-top: 4.375rem;
	position: relative;
}
/* 
	Start Flower
*/
.products .angle .flower1,
.products .angle .flower2 {
	position: absolute;
	object-fit: contain;
}
.products .angle .flower1 {
	left: 0;
	margin-left: 6rem;
}
.products .angle .flower2 {
	right: 0;
	margin-right: 6rem;
}
/* 
	End Flower
*/
.products .angle i {
	background-color: var(--second-color);
	width: 3.125rem;
	height: 3.125rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	display: grid;
	place-content: center;
	font-size: 1.5625rem;
}

/* 
	Start Media Query
*/
@media (max-width: 1199px) {
	.products .content-products {
		gap: 3%;
	}
}
@media (max-width: 991px) {
	.products .content-products {
		grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
	}
}
@media (max-width: 767px) {
	.products .title h2 .flower1,
	.products .title h2 .flower2 {
		width: 4rem;
	}
	.products .content-products {
		display: revert;
		width: 70%;
		margin: 0 auto;
	}
	.products .card:not(:last-of-type) {
		margin-bottom: 3rem;
	}
}
@media (max-width: 500px) {
	.products .title h2 .flower1,
	.products .title h2 .flower2 {
		width: 3rem;
	}
	.products .angle .flower1 {
		margin-left: revert;
	}
	.products .angle .flower2 {
		margin-right: revert;
	}
}
@media (max-width: 400px) {
	.products {
		padding: var(--padding-100) 0 0;
	}
	.products .title h2 .flower1,
	.products .title h2 .flower2 {
		width: 2rem;
	}
	.products .angle i {
		width: 2.125rem;
		height: 2.125rem;
		font-size: 1.0625rem;
	}
	.products .angle .flower1,
	.products .angle .flower2 {
		width: 3rem;
	}
}
/* 
	End Media Query
*/

/* ===============[ Video ]=============== */
.video {
	padding: var(--padding-100) 0;
}
.video .flower1,
.video .flower2 {
	object-fit: contain;
	position: absolute;
}
.video .flower1 {
	left: 0;
	margin-top: 5rem;
}
.video .flower2 {
	right: 0;
	margin-top: -11rem;
}
.video video {
	max-width: 100%;
	object-fit: cover;
	display: block;
}
.video .content-video {
	padding-top: 2rem;
	width: 88%;
	margin: 0 auto;
}
/* 
	Start media Query
*/
@media (max-width: 767px) {
	.video {
		padding: var(--padding-100) 0 0;
	}
	.video .content-video {
		padding-top: 0;
		width: 100%;
		margin: revert;
	}
	.video .flower1,
	.video .flower2 {
		width: 4rem;
	}
	.video .content-video .square,
	.video .content-video .corner {
		display: none;
	}
}
@media (max-width: 500px) {
	.video .flower2 {
		margin-top: -6rem;
	}
}
@media (max-width: 400px) {
	.video .flower1,
	.video .flower2 {
		width: 2.5rem;
	}
	.video .flower1 {
		margin-top: 6rem;
	}
	.video .flower2 {
		margin-top: -4rem;
	}
}
/*
	End media Query
*/

/* ===============[ Offer ]=============== */
.offer {
	padding: var(--padding-100) 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}
.offer .text {
	background-color: #ddc57c;
	color: var(--second-color);
	padding: 3.125rem 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.offer .text h4 {
	background-color: var(--second-color);
	color: #fff;
	text-transform: uppercase;
	font-size: 1.5625rem;
	padding: 0.625rem 1.25rem;
	border-radius: 1.25rem;
	-webkit-border-radius: 1.25rem;
	-moz-border-radius: 1.25rem;
	-ms-border-radius: 1.25rem;
	-o-border-radius: 1.25rem;
}
.offer .text span {
	font-size: 9.375rem;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 900;
}
.offer .text p {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 700;
	font-size: 1.5625rem;
}
.offer .image img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
/*
	Start media Query
*/
@media (max-width: 767px) {
	.offer {
		grid-template-columns: 1fr;
	}
	.offer .text h4 {
		font-size: 1.25rem;
	}
	.offer .text span {
		font-size: 7.375rem;
	}
}
/*
	End media Query
*/

/* ===============[ About ]=============== */
.about .content-about {
	display: flex;
	flex-wrap: wrap;
	gap: 10%;
	padding: calc(var(--padding-100) + 3.125rem) 0;
	position: relative;
}
/* Start The Middle */
.about .container:nth-of-type(2) .image {
	order: 2;
}
.about .container:nth-of-type(2) .text {
	order: 1;
}
/* end The Middle */
.about .content-about .st-box {
	flex-basis: 45%;
}
.about .content-about .image {
	display: flex;
	/* overflow: hidden; */
	position: relative;
}
.about .content-about .image::before {
	content: "";
	position: absolute;
	left: -2rem;
	bottom: -2rem;
	border: 5px solid var(--Primary-color);
	width: 15rem;
	height: 15rem;
	z-index: -1;
}
.about .content-about .image::after {
	content: "";
	position: absolute;
	top: -1.5rem;
	right: -1.5rem;
	background-color: var(--Third-color);
	width: 10rem;
	height: 7rem;
	z-index: -1;
}
.about .image img {
	max-width: 100%;
	display: block;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}
.about .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2.1875rem 0;
}
.about .text .flower {
	object-fit: none;
	width: fit-content;
	margin-bottom: 1.725rem;
}
.about .text h2 {
	color: var(--second-color);
	font-size: 3.125rem;
}
.about .text p {
	font-family: "Josefin Slab", serif;
	color: var(--Primary-color);
	font-size: 1.25rem;
	width: 76%;
	margin: 0.9375rem 0;
}
/* 
	Start Flower
*/
.about figure {
	position: relative;
}
.about figure .flower-section-1,
.about figure .flower-section-2,
.about figure .flower-section-3 {
	position: absolute;
	object-fit: contain;
}
.about figure .flower-section-1,
.about figure .flower-section-3 {
	right: 0;
	top: -11rem;
}
.about figure .flower-section-2 {
	top: -10rem;
	transform: scaleX(-1);
}
/* 
	End Flower
*/
/*
	Start media Query
*/
@media (max-width: 767px) {
	.about .content-about {
		width: 70%;
		margin: 0 auto;
		padding: var(--padding-100) 0;
	}
	.about .content-about .st-box {
		flex-basis: 100%;
	}
	/* Start The Middle */
	.about .container:nth-of-type(2) .image {
		order: 1;
	}
	.about .container:nth-of-type(2) .text {
		order: 2;
	}
	/* end The Middle */
	.about .content-about .image::before {
		left: -0.7rem;
		bottom: -1rem;
		border: 3px solid var(--Primary-color);
	}
	.about .content-about .image::after {
		top: -0.9rem;
		right: -0.9rem;
	}
	.about .text {
		align-items: center;
		text-align: center;
	}
}
@media (max-width: 576px) {
	.about .content-about {
		width: 70%;
		margin: 0 auto;
		padding: calc(var(--padding-100) - 3.125rem) 0;
	}
	.about .text .flower {
		object-fit: contain;
		height: 60px;
	}
	.about .text h2 {
		font-size: 2.125rem;
	}
	.about .text p {
		font-size: 1.1rem;
	}
	.about figure .flower-section-1,
	.about figure .flower-section-2,
	.about figure .flower-section-3 {
		width: 6rem;
	}
	.about figure .flower-section-3 {
		top: -5rem;
	}
}
/*
	End media Query
*/

/* ===============[ Subscribe ]=============== */
.subscribe {
	padding: var(--padding-100) 0 1.875rem;
	text-align: center;
}
.subscribe .text {
	width: 60%;
	margin: 0 auto;
}
.subscribe h2 {
	color: var(--second-color);
	font-size: 3.125rem;
}
.subscribe p {
	font-family: "Josefin Slab", serif;
	color: var(--second-color);
	font-size: 20px;
	margin: 1.5625rem 0;
}
.subscribe form {
	width: 70%;
	margin: 0 auto;
}
.subscribe .st-inp {
	width: 100%;
	margin-bottom: 25px;
	padding: 15px 25px;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 500;
	border: 2px solid #bfbfbf;
	font-size: 18px;
	letter-spacing: 1px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.subscribe .st-inp::placeholder {
	color: #bfbfbf;
}
.subscribe .st-inp:focus {
	outline: none;
}
.subscribe .st-inp:invalid {
	background-color: rgb(255, 205, 205);
	border: 2px solid rgb(255 126 126);
	box-shadow: 4px 4px 6px 0 #00000047;
}
.subscribe .st-inp:invalid::before {
	content: "iwueowiqu";
}
.subscribe textarea {
	resize: none;
	height: 200px;
}
.subscribe input[type="submit"] {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 700;
	border: none;
	background-color: var(--Third-color);
	color: #fff;
	padding: 0.9375rem 1.5625rem;
	letter-spacing: 1px;
	border-radius: 1.25rem;
	cursor: pointer;
}
/*
	Start media Query
*/
@media (max-width: 991px) {
	.subscribe .text {
		width: revert;
	}
	.subscribe form {
		width: revert;
	}
}
@media (max-width: 576px) {
	.subscribe {
		padding: calc(var(--padding-100) - 3.125rem) 0 1.875rem;
	}
	.subscribe h2 {
		font-size: 2.125rem;
	}
}
/*
	End media Query
*/

/* ===============[ Footer ]=============== */
footer {
	font-family: "Montserrat Alternates";
	background-color: var(--second-color);
	color: #fff;
	padding: var(--padding-100) 0;
}
footer .container {
	display: flex;
	flex-wrap: wrap;
}
footer .item {
	flex-basis: 33.33333333333333%;
}
footer .item h2 {
	font-size: 1.875rem;
	letter-spacing: 2px;
	margin-bottom: 1.5625rem;
}
footer .item p {
	font-size: 1.25rem;
	margin-bottom: 0.9375rem;
}
footer .social-icon {
	flex-basis: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.5625rem;
}
footer .social-icon span {
	font-weight: 700;
	margin-right: 1.5rem;
}
footer .social-icon a {
	border: 3px solid #fff;
	color: #fff;
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	display: grid;
	place-content: center;
	font-size: 1.25rem;
	margin: 0 0.9375rem;
}
/* 
	Start Media Query
*/
@media (max-width: 991px) {
	footer .item h2 {
		font-size: 1.375rem;
	}
	footer .item p {
		font-size: 0.95rem;
	}
	footer .social-icon {
		font-size: 1.1625rem;
	}
}
@media (max-width: 767px) {
	footer .container {
		flex-direction: column;
		align-items: center;
	}
	footer .item {
		padding: 1.25rem;
	}
	footer .social-icon a {
		margin: 0 0.2375rem;
	}
}
/* 
	End Media Query
*/
